<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{subject}}</title>

    {{!-- Include Styles --}}
    {{> styles.hbs}}
</head>

<body>
                <div class="content">
                    <!-- START CENTERED WHITE CONTAINER -->
                    <h1>{{ subject }}</h1>
                    {{> @partial-block}}
                    <!-- END CENTERED WHITE CONTAINER -->
                </div>
</body>

</html>
