{{#> layout.hbs}}
{{#each pulls}}
  <div class="pr">
    <a href="{{ url }}">
      <h2>{{ title }}</h2>
    </a>
    {{ bodyHTML }}
    <span>{{ author.login }}</span>
  </div>
{{/each}}
{{/layout.hbs}}
