{{#> layout}}
<div>Count of pull requests: {{ len pulls }}</div>
<ul>
  {{#each pulls}}
    <li>
      <h2>{{ title }}<h2>
      {{ bodyHTML }}
      <span>{{ author.login }}</span>
    </li>
  {{/each}}
</ul>
{{/layout}}
